#container {
    display: flex;
    justify-content: center;
}

:root {
    --main-color: blue;
}  

.ruderampel {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    font-family: "Segoe UI", "Roboto", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ruderampel .ampel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.ruderampel .ampel .color {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.ruderampel .ampel .green {
    background-color: green;
}

.ruderampel .ampel .yellow {
    background-color: yellow;
}

.ruderampel .ampel .red {
    background-color: red;
}

.ruderampel .measurements {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.ruderampel .measurements .measurement {
    width: 33.333%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--main-color) solid 1px;
    border-radius: 8px;
    padding: 4px;
}

.ruderampel .measurements .measurement p {
    margin: 0;
}

.ruderampel .hidden {
    display: none;
}
